/**
 * Module: block-container.
 *
 * This is meant to be a full-width area where each child has a constrained
 * width to handle block alignment classes.
 */

@use '../settings/theme';

.block-container {
	padding-inline: theme.get-var( 'sizes', 'gutter' );

	> * {
		max-width: theme.get-var( 'layout', 'default' );
		margin-inline: auto;
	}
}
