//
// Module: pagination.
//

.comment-navigation, // the_comments_navigation()
.post-navigation // the_post_navigation()
.posts-navigation // the_posts_navigation()
{
	.site-content & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
