//
// Module: site-navigation.
//

@use '../tools/context';
@use '../tools/respond';

@include context.is-front {
	.site-navigation {
		display: block;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.2s;

		&[aria-expanded="true"] {
			visibility: visible;
			opacity: 1;
		}

		@include respond.to('desktop') {
			visibility: visible;
			opacity: 1;
			transition: none;
		}

		@include respond.to('desktop', 'max-width') {
			width: 100%;
		}

		&--footer {
			display: block;
		}
	}
}
