/**
 * Module: site.
 */

@use '../tools/context';

@include context.is-front {
	.site {
		min-height: 100vh;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
			'header'
			'main'
			'footer';

		body.admin-bar & {
			min-height: calc( 100vh - var( --global--admin-bar--height ) );
		}
	}

	.site-header {
		grid-area: header;
	}

	.site-content {
		grid-area: main;
		overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
	}

	.site-footer {
		grid-area: footer;
	}
}
