//
// Module: site.
//

@use "../tools/context";

@include context.is(front) {
	.site {
		width: 100%;
		min-height: 100vh;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
			"header"
			"main"
			"footer";

		body.admin-bar & {
			min-height: calc(100vh - var(--global--admin-bar--height));
		}
	}

	.site-header,
	.site-content,
	.site-footer {
		min-width: 0; // Resolves issue with some elements forcing horizontal overflow.
	}

	.site-header {
		grid-area: header;
	}

	.site-content {
		grid-area: main;
	}

	.site-footer {
		grid-area: footer;
	}
}
