//
// Module: site-navigation.
//
@use '../tools/layout';
@use '../tools/respond';

.site-navigation {
	display: block;

	ul#primary-menu {
		display: flex;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba( 0, 0, 0, 0.2 );
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	&__container {
		display: none;
		position: fixed;
		inset: 0;
		top: var( --global--admin-bar--height );
		background-color: #fff;
	}

	/* Small menu. */
	&.toggled {
		.site-navigation__container {
			display: block;
			padding: var(--wp--custom--sizes--gutter);
		}
		ul#primary-menu {
			flex-direction: column;
		}
	}

	@include respond.to( 'tablet' ) {
		.menu-toggle {
			display: none;
		}

		.site-navigation__container {
			display: block;
			position: relative;
			top: initial;
		}
	}
}
