/**
 * Utilities: alignments
 */

@use '../settings/theme';
@use '../tools/layout';

.alignnarrow,
.alignwide,
.alignextrawide,
.alignfull {
	> * {
		max-width: unset;
	}
}

.alignnarrow {
	max-width: theme.get-var( 'layout', 'narrow' );
}

.alignwide {
	max-width: theme.get-var( 'layout', 'wide' );
}

.alignextrawide {
	max-width: theme.get-var( 'layout', 'extra-wide' );
}

.alignfull {
	width: 100vw; // maybe just unset width?
	max-width: none;
	margin-inline: calc( #{theme.get-var( 'sizes', 'gutter' )} * -1 );
}

// RECOMMENDED STYLE
.alignleft {
	float: left;
	margin-right: theme.get-var( 'sizes', 'gutter' );
	margin-bottom: theme.get-var( 'sizes', 'gutter' );
}

// RECOMMENDED STYLE
.alignright {
	float: right;
	margin-left: theme.get-var( 'sizes', 'gutter' );
	margin-bottom: theme.get-var( 'sizes', 'gutter' );
}

// RECOMMENDED STYLE
.aligncenter {
	clear: both;
	@include layout.center-block;
	margin-bottom: theme.get-var( 'sizes', 'gutter' );
}
