/**
 * Elements: buttons.
 */

@use '../../tools/context';

// Only include base button styles on front so we don't interfere with UI buttons in the editor.
@include context.is-front {
	button,
	input[type='button'],
	input[type='reset'],
	input[type='submit'] {
		border: 1px solid;
		border-color: red;
		border-radius: 3px;
		background: transparent;
		color: red;
		line-height: 1;
		padding: 0.6em 1em 0.4em;

		&:hover {
			border-color: black;
		}

		&:active,
		&:focus {
			border-color: black;
		}
	}
}
