/**
 * Elements: links.
 */

a {
	color: blue;

	&:visited {
		color: blue;
	}

	&:hover,
	&:focus,
	&:active {
		color: blue;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
