/**
 * Settings: breakpoints
 *
 * This is the only setting set directly in Sass instead of theme.json, because
 * CSS custom properties are not supported within media queries. :(
 */

$widths: (
	mobile: (
		max-width: 600px,
	),
	tablet: (
		min-width: 601px,
	),
	desktop: (
		min-width: 1080px,
	),
);
