body{
	&.admin-bar {
		.site {
			min-height: calc(100vh - var(--global--admin-bar--height));
		}
	}
}

.site {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
	  "header"
	  "main"
	  "footer";
}

.site-header {
	grid-area: header;
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.site-footer {
	grid-area: footer;
}
