/**
 * Tools: layout
 */

@use '../settings/theme';

@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/**
 * Apply a max-width according to the standard widths in theme.json
 * settings.custom.layout
 *
 * @param $width narrow|default|wide|extra-wide
 */
@mixin container( $width: default ) {
	box-sizing: content-box;
	width: 100%;
	max-width: calc( #{theme.get-var( 'layout', $width )} );
	margin-inline: auto;
	padding-inline: theme.get-var( 'sizes', 'gutter' );

	// Reset box-sizing
	> * {
		box-sizing: border-box;
	}
}
