// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Color Palette Classes
@mixin color-palette-classes($color-name, $color-value) {
	.has-#{$color-name}-color[class] {
		color: $color-value;
	}
	.has-#{$color-name}-background-color[class] {
		background-color: $color-value;
	}
}
