/**
 * Typography: body.
 */

@use '../../settings/theme';

body,
button,
input,
select,
optgroup,
textarea {
	color: theme.get-var( 'theme-colors', 'foreground' );
	font-family: theme.get-var( 'font-families', 'serif' );
	font-size: 1rem;
	line-height: 1.5;
}
