/**
 * Typography: headings
 */

@use '../settings/theme';
@use '../tools/respond';

// Responsive heading sizes
@include respond.to( 'mobile' ) {
	:root {
		@each $key, $val in theme.get-map( 'heading-sizes-mobile' ) {
			--wp--custom--heading-sizes--#{$key}: #{theme.get-var(
					'heading-sizes-mobile',
					$key
				)};
		}
	}
}

.has-h-1-font-size,
.has-h-2-font-size,
.has-h-3-font-size,
.has-h-4-font-size,
.has-h-6-font-size {
	margin-block: 1em;
	line-height: 1.5;
}

// These sizes are already provided for the Heading and Post Title blocks, but this makes them available to the rest of our theme.
@each $key, $val in theme.get-map( 'heading-sizes' ) {
	.has-h-#{$key}-font-size {
		font-size: theme.get-var( 'heading-sizes', $key );
	}
}

.has-h-1-font-size {
	line-height: 1.1;
}

.has-h-2-font-size {
	line-height: 1.15;
}

.has-h-3-font-size {
	line-height: 1.25;
}

.has-h-4-font-size {
}

.has-h-6-font-size {
}

.has-h-6-font-size {
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

@for $i from 1 through 6 {
	h#{$i} {
		@extend .has-h-#{$i}-font-size;
	}
}
